<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Passengers details</h2>
    <form action='/add' method = "POST">
    <p>Passenger Name <input type = "text" name = "passengername" value=""/></p>
    <p>Phone Number <input type = "integer" name = "phonenumber"  value=""/></p>
    <p>City Name<input type = "text" name = "cityname" value=""/></p>
    <p><input type = "submit" value = "Add passenger" /></p>
    </form>
</body>
</html>